/* 
General 
*/

html {
    height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #D5D4C8;
}

body{
    margin: 0px;
}

/* 
Header 
*/

/* both headers */

.headers {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    /* background-color: #333333; */
    color: white;
}

li a {
    /* display: block; */
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

/* top header*/
#top_header {
    display: flex;
    align-items: center;
    background-color: #2E2E3A;
    height: 6vh;
}

#top_header li {
    height: fit-content;
}

#teaneck{
    font-size: 20px;
}

/*book bar*/
#book_bar{
    background-color: #972D07;
    /* padding: 10px; */
    font-size: 18px;
    display: flex;
    /* height: 25%; */
}

#book_start{
    margin: 7px;
}

.book{
    margin: 5px 10px;
    /* display: flex; */
}

.bookTitle{
    margin-right: 8px;
    color: beige;
}

input[type=number]{
    border-radius: 1px;
    border-width: 0px;
}
input[type=checkbox]{
    margin: 0px;
}

/* 
Note Card
*/

#info{
    height: 25px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 20px;
}

#keyboard_instructions{
    color: rgb(85, 85, 85);
}

#notecard_container{
    height: 68%;
    margin: 1%;
    position: relative;
}

.q_a{
    display: flex;
    height: 38%;
    justify-content: center;  /* Center text horizontally */
    align-items: center;      /* Center text vertically */
}

.q_a_text{
    vertical-align: middle;
}

.dotted_line {
    border: none;             /* Remove default hr styling */
    border-top: 2px dashed darkgrey; /* Create a 2px high dotted line in black */
    width: 100%;              /* Full width */
    margin: 20px 0;           /* Add space above and below the line */
}

#notecard{
    top: 0;
    left: 0;
    position: absolute;

    background-color:beige;
    border-radius: 25px;
    padding: 1%;
    height: 95%;
    width: 98%;
    font-size: min(3.5vmax, 50px);
    text-align: center;
    display: flex;
    flex-direction: column; /* Arrange the question and answer vertically */
    align-items: center;    /* Center horizontally */
    justify-content: center; /* Center vertically */
}

/* Notecard animation */
#blank{
    top: 0;
    left: 0;
    position: absolute;
    
    background-color:beige;
    border-radius: 25px;
    padding: 1%;
    height: 95%;
    width: 98%;
    opacity: 0;
}

.fade_in_out{
    z-index: 10;
    -webkit-animation: fadeinout .5s linear forwards;
    animation: fadeinout .5s linear forwards;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
  
@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

.hide{
    z-index: -10;
}

.show{
    opacity: 1;
}

/* 
Buttons and UI
*/

button {
    transition: background-color .2s,
        color .2s;
}

/* For Notecard */
#startButton {
    font-size: 50px;
}

/* For Controls */
#controls {
    /* background-color: #2E2E3A; */
    height: auto;
    width: min(700px, 98vw);
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
}

.red_button button {
    background-color: #972D07;
    border: 2px solid #2E2E3A;
    border-radius: 10px;
    box-shadow: #2E2E3A 3px 3px 0 0;
    color: beige;
    cursor: pointer;
    
    font-size: 35px;
    height: 55px;
    padding: 1px 14px;


    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

.red_button button:hover{
    background-color: #fff;
    color: #2E2E3A;
}

#start_button {
  border-radius: 30px;
  box-shadow: #2E2E3A 4px 4px 0 0;
  display: inline-block;
  font-weight: 600;
  font-size: 75px;
  padding: 30px 18px;
  line-height: 50px;
  text-align: center;
  height: auto;

  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* During the clicking, unique to start button */
#start_button:active {
  box-shadow: #2E2E3A 2px 2px 0 0;
  transform: translate(2px, 2px);
}

#finish{
    z-index: -5;
    display: flex;
    flex-direction: column;
    align-items: center;    /* Center horizontally */
    justify-content: center; /* Center vertically */

    color: black;
    background-color: #D5D4C8;
    border-radius: 25px;
    padding: 1%;
    height: 95%;
    width: 98%;
}


#finishText{
    font-size: min(2.5vmax, 30px);
    display: flex;
    justify-content: center; /* Center vertically */
    margin-bottom: 10px;

}

#finish button {
    font-size: 30px;
    margin: 5px;
    border-radius: 10px;
    height: 55px;
    width: 300px;
}

/* Bottom Buttons */
#shuffle_button.clicked {
    background-color: #0C7C59;
}

#shuffle_button.clicked:hover{
    background-color: #fff;
    color: #2E2E3A;
}


#left_button,#right_button {
    /* width: 65px; */
}

#answer_button{
    /* width: 250px; */
}
#shuffle_button{
    /* width: 175px */
}
#drop_button{
    /* width: 100px */
}

.green_button {
    background-color: #0C7C59;
    border: 2px solid #2E2E3A;
    color: beige;
    cursor: pointer;
    box-shadow: #2E2E3A 3px 3px 0 0;
    
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.green_button:hover{
    background-color: #fff;
    color: #2E2E3A;
}

/* Top bookbard start button */
#book_bar button {
    border-radius: 10px;
    font-size: 20px;
    height: 40px;

}



/*
    Mobile Layout
*/

@media screen and (min-width: 1101px){
    #mobile_change_button {
        display: none;
    }
    .mobile_only {
        display: none;
    }
}

@media screen and (max-width: 1100px){
    #book_bar {
        display: none;
    }
    #mobile_change_button {
        display: inline;
        height: 100%;
        width: 50px;
        font-size: 20px;
        margin-left: 10px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    #info {
        justify-content: space-between;
        padding-right: 15px;
        height: 35px;
    }
    #settings {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 73%;
        width: 100%;
        background-color: #0C7C59;
        color: beige;
        font-size: 30px;
        padding: 20px 0px;


        position: absolute;
        
    }
    .settings_show {
        z-index: 5;
    }
    .settings_hide {
        z-index: -10;
        visibility: hidden;
    }

    input[input=checkbox]{
        transform: scale(1.5); /* not working */
    }
    .mobileBookHolder{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobileCheckHolder{
        display: flex;
        width: 50%;
        /* justify-content: space-between; */
    }
    .mobileMinMax{
        display: inline-flex;
        width: 33%;
        justify-content: space-between;
    }
    #mobileSettingsButtons{
        display: flex;
        justify-content: space-around;
    }
}

